################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JgisawPuzzle/.vs/JgisawPuzzle/v16/Server/sqlite3
